/* 구글 웹폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend+Deca:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 공통사항 */
* { box-sizing: border-box; }
html, body { font-size: 62.5%; }
body {
	font-family: 'Nanum Gothic', sans-serif;
	margin: 0;
	padding: 0;
	color: #2F3138;
	background-color: #f1f1f1;
}
ul, p {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}